<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Seat Selection</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="my-4 text-center">Flight Seat Selection</h1>
                <div id="plane" class="mx-auto d-inline-block">
                    <!-- Seat map will be generated here -->
                </div>
            </div>
        </div>
        <button id="submit-seats" class="btn btn-primary mt-4">Submit Selected Seats</button>
    </div>
    <script>
        const takenSeats = {{ taken_seats|tojson|safe }};
    </script>
</body>
</html>
